
.container {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  p {
    margin: 0;
    padding: 0;
    font-weight: 650;
    font-size: 24px;
    user-select: none;
  }
}

.pointer {
  cursor: pointer;
}

.red {
  background-color: #FFA1B0;
  color: #FF2439;
}

.yellow {
  background-color: #FFE484;
  color: #F0BB00;
}

.green {
  background-color: #C4FF95;
  color: #5DD300;
}

.pink {
  background-color: #FDA1FF;
  color: #FB24FF;
}

.purple {
  background-color: #BB94FF;
  color: #8236DD;
}

.blue {
  background-color: #AEA0FF;
  color: #482BFF;
}
