
.header {
  display: flex;
  align-items: center;
  margin: 10px 0 60px 0;

  .username {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 50px;
  }
  .settings_icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      background-color: #fff;
      border-radius: 12px;
    }
  }
}

.profit_container {
  width: 260px;
  border-bottom: 3px solid #E8E8EF;
  padding-bottom: 20px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .profit_amount_container {
    font-size: 36px;
    font-weight: 600;
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-bottom: 6px;
    .profit_edit_icon {
      position: absolute;
      top: 0;
      right: -20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      transition: 0.4s;
      cursor: pointer;
      &:hover {
        background-color: #fff;
        border-radius: 8px;
      }
    }
    .salary_edit {
      height: 43px;
      width: 110px;
      padding: 2px 8px;
      font-size: 30px;
    }
  }
}

.subscriptions_cost_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  .subscriptions_cost {
    font-size: 36px;
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 10px;
  }
}

.pie_chart {
  background-color: #fff;
  width: 256px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
  border: 8px solid #F0F0F0;
  border-radius: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  > p {
    font-size: 14px;
    text-align: center;
  }
}
