
.chart {

}

.circular_chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle_bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.orange .circle {
  stroke: #ff9f00;
}

.green .circle {
  stroke: #4CC790;
}

.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  font-weight: 520;
  text-anchor: middle;
}

.percentage_description {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.25em;
  font-weight: 500;
  text-anchor: middle;
}
