
.input {
  height: 32px;
  border: 1px solid #F3F3F3;
  border-radius: 6px;
  padding: 2px 8px;
  &:focus {
    outline: #005fcc auto 1px;
  }
}

.w100 {
  width: 100%;
}

.error, .error:focus {
  outline: red auto 1px;
}
