
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  .modal {
    width: 360px;
    margin: 100px auto;
    padding: 40px 50px 20px 40px;
    border-radius: 20px;
    background-color: #F6F7F9;
    color: #303848;
    box-shadow: rgba(0, 0, 0, 0.6) 0 3px 8px;
    .form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        text-align: center;
        font-size: 20px;
        margin-bottom: 30px;
      }
      .row {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;
        p {
          width: 100px;
          font-size: 14px;
        }
        input {
          border: 1px solid #ECEDF1;
        }
      }
      button {
        margin-top: 16px;
        margin-bottom: 10px;
        width: 150px;
        height: 30px;
        background: #F6F7F9;
        border: solid;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.2s;
        &:active {
          background-color: #fff;
        }
      }
      .error {
        font-size: 12px;
        color: red;
        //align-self: flex-end;
        margin-bottom: 5px;
      }
      .switch_auth_method {
        font-size: 12px;
        text-align: center;
        span {
          color: orange;
          cursor: pointer;
        }
      }
    }
  }
}
