
body {
  background-color: #F6F7F9;
}

.container {
  display: flex;
  padding-top: 40px;
  color: #303848;
  .subscription_list {
    width: 74%;
    border-right: 3px solid #E8E8EF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
  }
  .info_panel {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

