
.header {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  .title {
    font-size: 24px;
  }

  .new_subscription_button {
    height: 36px;
    border-radius: 10px;
    border: solid;
    background-color: #F6F7F9;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    padding: 10px 12px 10px 10px;
    cursor: pointer;
    &:hover {
      background-color: #fff;
    }
  }
}

.table_header {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 3px solid #E8E8EF;
  padding-bottom: 8px;
  padding-left: 107px;
  margin-bottom: 10px;
  p {
    width: 120px;
    text-align: left;
  }
  .title_header {
    flex-grow: 43;
  }
  .cost_header {
    flex-grow: 35;
  }
  .day_header {
    flex-grow: 30;
  }
}

.subscriptions_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  padding-left: 30px;
  margin-bottom: 200px;

  .subscription_line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 62px;
    padding-left: 20px;
    border-radius: 12px;

    &:hover {
      background-color: #ffffff;
      .controls_cell {
        visibility: visible;
      }
    }

    .cell {
      display: flex;
      align-items: center;
      height: 40px;
      font-size: 18px;
    }

    .icon_cell {
      position: relative;
      margin-right: 18px;
      width: 40px;
      flex-grow: 0;
      .color_selector_icon {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        border-radius: 20px;
        cursor: pointer;
      }
      .color_selector_icon_error {
        outline: 2px solid red;
      }
      .color_selector {
        z-index: 20;
        padding: 14px;
        position: absolute;
        top: 100%;
        left: 50%;
        width: 200px;
        background-color: #fff;
        border-radius: 12px;
        border: 2px solid #F3F3F3;
        display: flex;
        gap: 14px;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    .title_cell {
      width: 100px;
      justify-content: flex-start;
      flex-grow: 20;
    }

    .cost_cell {
      justify-content: center;
      width: 100px;
      font-weight: 600;
      flex-grow: 20;
    }

    .day_cell {
      justify-content: flex-end;
      margin-right: 15px;
      flex-grow: 34;
      width: 84px;
    }

    .controls_cell {
      visibility: hidden;
      display: flex;
      justify-content: space-around;
      margin-right: 20px;
      width: 80px;
      flex-grow: 0;

      .control {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        &:hover {
          background-color: #F6F7F9;
          border-radius: 8px;
          transition: 0.3s;
        }
      }
    }
  }
}
